
// import scss files from style folder
@import './style/header.scss';
@import './style/main-image.scss';
@import './style/our-teams-header.scss';
@import './style/box.scss';
@import './style/footer.scss';
 


html{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}





