
// css for box component

$box-text-color:black;


.all-box{
    margin-bottom: 100px;
    
    // css for inside of the box component
    .box-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        cursor: pointer;
        .box-img{
            width: 300px;
        }
        .box-title{
            font-size: 20px;
            color: $box-text-color;
        }
        .box-text{
            text-align: center;
            font-size: 15px;
            color: $box-text-color;
            font-weight: 600;
            width: 300px;
        }
    }
}
